    <!-- Jquery Core Js -->
    <script src="public/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="public/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="public/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="public/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="public/plugins/node-waves/waves.js"></script>

    <!-- Light Gallery Plugin Js -->
    <script src="public/plugins/light-gallery/js/lightgallery-all.js"></script>

    <!-- Custom Js -->
    <script src="public/js/pages/medias/image-gallery.js"></script>
    <script src="public/js/admin.js"></script>

    <!-- Demo Js -->
    <script src="public/js/demo.js"></script>

            <!-- Jquery DataTable Plugin Js -->
            <script src="public/plugins/jquery-datatable/jquery.dataTables.js"></script>
            <script src="public/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
            <script src="public/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
            <script src="public/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
            <script src="public/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
            <script src="public/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
            <script src="public/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
            <script src="public/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
            <script src="public/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>
    
            <!-- Custom Js -->
            <script src="public/js/pages/tables/jquery-datatable.js"></script>
</body>

</html>