<%- include('./frontPartials/top')%>
<%- include('./frontPartials/navbar')%>

<div id="about-us">
    <div class="container">
       <h3>About us</h3>
        <div class="row" style="margin-right: 0; margin-left: 0;" data-aos="fade-up" data-aos-delay="300">
            <div>
             <img src="front/images/about.jpg" alt="about-bg" class="thumbnail image">
              <p>Very few understand your car like a trusted and experienced car mechanic nearby. We too realised how difficult it is to get a good car mechanic for car repair especially in a city like Yamunanagar. We at ExtraMile, feel the emotions attached with your car and came up with a convenient solution to build a network of trusted and qualified car mechanics in Yamunanagar.</p>
              <p>EXTRAMILE believes in convenience and transparency for every car owner with the use of technology with standard rates and no hidden charges in car servicing. Our 30+ CMO certified auto garages offer end-to-end Car Repair and Services viz. complete car service, car bodywork, engine oil change, brakes service, clutch & gear work, windshield replacement, AC service, car inspection, car denting-painting job, wheel alignment & balancing and battery jump-start etc. Armed with technology, our partner mechanics are ready to solve your car service hassles within a short time frame and at affordable pricing. Our multi-car workshops accept multi-brand cars like Honda, Toyota, Maruti Suzuki, Hyundai, Mahindra, Tata Motors, Volkswagen, BMW, Audi, Mercedes, Ford & other car manufacturers.</p>
            </div>
         </div>
    </div>
</div>

<%- include('./frontPartials/bottom')%>