<%- include('./frontPartials/top')%>
<%- include('./frontPartials/navbar')%>

<div id="contact">
	<div class="container">
	<h3>Contact Us</h3>
	<div class="row" data-aos="fade-up" data-aos-delay="300">
		<div class="col-md-12 text-left">
			<p>EXTRAMILE believes in convenience and transparency for every car owner with the use of technology with standard rates and no hidden charges in car servicing. Our 30+ CMO certified auto garages offer end-to-end Car Repair and Services viz. complete car service, car bodywork, engine oil change, brakes service, clutch & gear work, windshield replacement, AC service, car inspection, car denting-painting job, wheel alignment & balancing and battery jump-start etc. Armed with technology, our partner mechanics are ready to solve your car service hassles within a short time frame and at affordable pricing. Our multi-car workshops accept multi-brand cars like Honda, Toyota, Maruti Suzuki, Hyundai, Mahindra, Tata Motors, Volkswagen, BMW, Audi, Mercedes, Ford & other car manufacturers.</p>
		</div>
	</div>
	  </div>
	   <div class="container py-5">
		<div class="row" data-aos="fade-up" data-aos-delay="300">
			<div class="col-md-12">
				<form method="post" action="/contactmail">
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="text" class="form-control" name="name" placeholder="Your Name" required>
						</div>
							<div class="col-sm-6">
							<input type="text" class="form-control" name="email" placeholder="Your Email" required>
						</div>
						<div class="col-sm-12">
							<input type="number" class="form-control" name="phone" placeholder="Your Phone Number" required>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-xs-12 col-md-12">
							<textarea type="text" class="form-control" name="message" placeholder="Your Message" rows="6" required></textarea>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Alright Submit it</button>
				</form>
			</div>
		</div>
	   </div>
  </div>

  <%- include('./frontPartials/bottom')%>