<%- include('./frontpartials/top')%>
<%- include('./frontpartials/navbar')%>

<div id="contact">
	<div class="container">
	<h3>Contact Us</h3>
	<div class="row" data-aos="fade-up" data-aos-delay="300">
		<div class="col-md-12 text-left">
			<p>Lorem Ipsum is simply dummy text of the printing and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and scrambled it to make a type specimen book. It has survived not only fiveLorem Ipsum is simply dummy text of the printing and scrambled it to make a type specimen book. I</p>
		</div>
	</div>
	  </div>
	   <div class="container py-5">
		<div class="row" data-aos="fade-up" data-aos-delay="300">
			<div class="col-md-12">
				<form method="post" action="/contactmail">
					<div class="form-group row">
						<div class="col-sm-6">
							<input type="text" class="form-control" name="name" placeholder="Your Name" required>
						</div>
							<div class="col-sm-6">
							<input type="text" class="form-control" name="email" placeholder="Your Email" required>
						</div>
						<div class="col-sm-12">
							<input type="number" class="form-control" name="phone" placeholder="Your Phone Number" required>
						</div>
					</div>
					<div class="form-group row">
						<div class="col-xs-12 col-md-12">
							<textarea type="text" class="form-control" name="message" placeholder="Your Message" rows="6" required></textarea>
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Alright Submit it</button>
				</form>
			</div>
		</div>
	   </div>
  </div>

  <%- include('./frontpartials/bottom')%>