<%- include('./frontPartials/top')%>
<%- include('./frontPartials/navbar')%>


<!--Section-1-->
    <section class="section-1">
        <div class="jumbotron d-flex align-items-center">
            <div class="gradient"></div>
            <div class="container-fluid content">
                <h1 data-aos="fade-up" data-aos-delay="100">Welcome to ExtraMile.</h1>
                <h2 data-aos="fade-up" data-aos-delay="300">multibrand car service Showroom</h2>
                <h4 data-aos="fade-up" data-aos-delay="500">No.1 Car Service Brand in Yamunanagar </h4>
                <p data-aos="fade-up" data-aos-delay="700"><a href="/signin" class="btn btn-success">Get Started</a></p>
            </div>
            <!--container-fluid end-->
        </div>
    </section>
    <!--Section-2-->
    <section class="section-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-12 box-1">
                    <div class="row box" data-aos="fade-left" data-aos-delay="300">
                        <div class="col-lg-2 col-sm-12">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <h3><a href="/services">Standard car servicing.</a></h3>
                        
                        
                            <p>  Engine oil, oil filter, air filter, oil levels check & top-up, brake service, express car washing, 15-point car check, coolant top up, engine tuning</p>
 <p>If required:
     Brake pad change, spark plug change, fuel filter change, AC servicing, wheel alignment & balancing</p>
                         <h4>price = 1999</h4>
                            <p><a href="/services"><img src="front/images/plus.png" alt="plus"></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-12 box-2">
                    <div class="row box" data-aos="fade-left" data-aos-delay="500">
                        <div class="col-lg-2 col-sm-12">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <h3><a href="/services">Car AC.</a></h3>
                            <p>Ac gas level & pressure check up.</p>
                           <p> Ac gas top-up.</p>	
                            <p>Leakage check.</p>	
                            <p>Compressor oil top up.</p>	
                          <p>  Cooling coil cleaning.	</p>
                           <p> AC filter cleaning.</p>	
                            <p>AC vents cleaning.	</p>
                          <p>  AC cooling test.</p>
                          <h4>price = 1299</h4>
                            <p><a href="/services"><img src="front/images/plus.png" alt="plus"></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-12 box-3">
                    <div class="row box" data-aos="fade-left" data-aos-delay="700">
                        <div class="col-lg-2 col-sm-12">
                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <h3><a href="/services">Doorstep Checkup & Minor Repairs.</a></h3>
                            <p> General car check-up by an expert mechanic. We will also ensure the minor repairing will be done with a FREE 15-point monsoon car health report to keep your car in a perfect condition.</p>
                    <h4>price = 499</h4>
                            <p><a href="/services"><img src="front/images/plus.png" alt="plus"></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-3">
        <div class="container">
            <div class="row m-0">
                <div class="col-lg-5 col-md-12 p-0" data-aos="fade-right" data-aos-delay="300">
                    <h2>What we do <span>And why select us?</span></h2>
                    <ul>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>24 x 7 breakdown assistance</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Expert Mechanics</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i> Genuine Parts</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Free 15-point Inspection</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Prompt customer support</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Savings Up To 40%</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-12 p-0" data-aos="fade-left" data-aos-delay="300">
                    <figure>
                        <img class="inner-img" src="/front/images/carserv.png" alt="services">
                        <img class="out-sideimg" src="/front/images/carser2.png" alt="services">
                    </figure>
                </div>
            </div>
        </div>
    </section>

<%- include('./frontPartials/bottom')%>