<%- include('./partials/top')%>

<body class="theme-red">


    <%- include('./partials/topBar')%>
    <%- include('./partials/navBar')%>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">

                            <h1>Enter Details</h1>
                        </div>
                        <table class="table">
                            <tr>
                                <td>
                                    <h5>Select Company</h5>
                                </td>
                                <td>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                            <option value="">-- Please select company--</option>
                                            <option value="Audi">Audi</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Select Model</h5>
                                </td>
                                <td>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                            <option value="">-- Please select model--</option>
                                            <option value="10">10</option>
                                            <option value="20">20</option>
                                            <option value="30">30</option>
                                            <option value="40">40</option>
                                            <option value="50">50</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Select Engine Type(Petrol/Diesel)</h5>
                                </td>
                                <td>
                                    <div class="col-sm-6">
                                        <select class="form-control">
                                            <option value="">-- Please select type--</option>
                                            <option value="Petrol">Petrol</option>
                                            <option value="Diesel">Diesel</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Select Job</h5>
                                </td>
                                <td>
                                    <div class="demo-checkbox">
                                        <input type="checkbox" id="basic_checkbox_2" class="filled-in" />
                                        <label for="basic_checkbox_2">Service</label>
                                        <input type="checkbox" id="basic_checkbox_21" class="filled-in" />
                                        <label for="basic_checkbox_21">Repair</label>
                                        <input type="checkbox" id="basic_checkbox_22" class="filled-in" />
                                        <label for="basic_checkbox_22">Washing</label>
                                        <input type="checkbox" id="basic_checkbox_23" class="filled-in" />
                                        <label for="basic_checkbox_23">Denting Painting</label>
                                    </div>
                                </td>
                            </tr>

                        </table>
                        <div style="text-align: center;">
                            <button type="button" class="btn bg-orange waves-effect">
                                <i class="material-icons">save</i>
                                <span>SAVE</span>
                            </button>
                        </div>
                        <br>


                        <!-- <div class="row clearfix">
                        <div class="col-sm-6">
                            <select class="form-control">
                                <option value="">-- Please select car model--</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </div> -->
                    </div>
                </div>
            </div>
        </div>
    </section>


    <%- include('./partials/bottom')%>