<%- include('./partials/top')%>

<body class="theme-red">


    <%- include('./partials/topBar')%>
    <%- include('./partials/navBar')%>

    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="header">

                            <h1>Enter Details</h1>
                        </div>
                        <form action="/postDataSave" method="POST">
                        <table class="table">
                            <tr>
                                <td>
                                    <h5>Select Company</h5>
                                </td>
                                <td>
                                    <div class="col-sm-6">
                                        <select name="company" id="companySel" onchange="ChangeCarList()">
                                            <option value="0">-- Please select company--</option>
                                            <option value="Audi">Audi</option>
                                            <option value="BMW">BMW</option>
                                            <option value="Honda">Honda</option>
                                            <option value="Maruti">Maruti</option>
                                            <option value="Hyundai">Hyundai</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Select Model</h5>
                                </td>
                                <td>
                                    <div class="col-sm-6"">
                                        <div style="display: block;" id="sel">
                                        <select name="model" id="modelSel" style="display: block;" >
                                            <option value="">-- Please select model--</option>
                                        </select>
                                    </div>
                                        <div style="display: none;" id="selAudi">
                                            
                                                <select name="model" id="modelAudi">
                                                    <option value="">-- Please select model--</option>
                                                    <option value="">A4</option>
                                                    <option value="">A6</option>
                                                </select>
                                        </div>
                                        <div style="display: none;" id="selBMW">
                                            
                                            <select name="model" id="modelBMW" style="display: none;" >
                                                <option value="">-- Please select model--</option>
                                                <option value="">M3</option>
                                                <option value="">X7</option>
                                                <option value="">3 series</option>
                                                <option value="">5 Series</option>
                                            </select>
                                        </div>
                                        <div style="display: none;" id="selHonda">
                                            
                                            <select name="model" id="modelBMW" style="display: none;" >
                                                <option value="">-- Please select model--</option>
                                                <option value="">Amaze</option>
                                                <option value="">City</option>
                                                <option value="">CRV</option>
                                            </select>
                                        </div>
                                        <div style="display: none;" id="selHyundai">
                                            
                                            <select name="model" id="modelBMW" style="display: none;" >
                                                <option value="">-- Please select model--</option>
                                                <option value="">i20</option>
                                                <option value="">Verna</option>
                                                <option value="">Creta</option>
                                            </select>
                                        </div>
                                        <div style="display: none;" id="selMaruti">
                                            
                                            <select name="model" id="modelBMW" style="display: none;" >
                                                <option value="">-- Please select model--</option>
                                                <option value="">Ciaz</option>
                                                <option value="">Swift</option>
                                                <option value="">Brezza</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Select Engine Type(Petrol/Diesel)</h5>
                                </td>
                                <td>
                                    <div class="col-sm-6">
                                        <select class="form-control"  name="engineType">
                                            <option value="">-- Please select type--</option>
                                            <option value="Petrol">Petrol</option>
                                            <option value="Diesel">Diesel</option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Select Job</h5>
                                </td>
                                <td>
                                    <div class="demo-checkbox">
                                        <input type="checkbox" id="basic_checkbox_2" class="filled-in" name="service" />
                                        <label for="basic_checkbox_2">Service</label>
                                        <input type="checkbox" id="basic_checkbox_21" class="filled-in" name="repair"/>
                                        <label for="basic_checkbox_21">Repair</label>
                                        <input type="checkbox" id="basic_checkbox_22" class="filled-in" name="washing"/>
                                        <label for="basic_checkbox_22">Washing</label>
                                        <input type="checkbox" id="basic_checkbox_23" class="filled-in" name="paint"/>
                                        <label for="basic_checkbox_23">Denting Painting</label>
                                    </div>
                                </td>
                            </tr>

                        </table>
                        <div style="text-align: center;">
                            <input type="submit" class="btn bg-orange waves-effect">
                            </input>
                        </div>
                        <br>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        function ChangeCarList() {
            var company = document.getElementById("companySel").value;

            if(company == 'Audi') {
                document.getElementById('sel').style.display = 'none'
                document.getElementById('selAudi').style.display = 'block'
                document.getElementById('selBMW').style.display = 'none'
                document.getElementById('selHonda').style.display = 'none'
                document.getElementById('selHyundai').style.display = 'none'
                document.getElementById('selMaruti').style.display = 'none'

            }
            else if(company == 'BMW') {
                document.getElementById('sel').style.display = 'none'
                document.getElementById('selAudi').style.display = 'none'
                document.getElementById('selBMW').style.display = 'block'
                document.getElementById('selHonda').style.display = 'none'
                document.getElementById('selHyundai').style.display = 'none'
                document.getElementById('selMaruti').style.display = 'none'
            }
            else if(company == 'Honda') {
                document.getElementById('sel').style.display = 'none'
                document.getElementById('selAudi').style.display = 'none'
                document.getElementById('selBMW').style.display = 'none'
                document.getElementById('selHonda').style.display = 'block'
                document.getElementById('selHyundai').style.display = 'none'
                document.getElementById('selMaruti').style.display = 'none' 
            }
            else if(company == 'Hyundai') {
                document.getElementById('sel').style.display = 'none'
                document.getElementById('selAudi').style.display = 'none'
                document.getElementById('selBMW').style.display = 'none'
                document.getElementById('selHonda').style.display = 'none'
                document.getElementById('selHyundai').style.display = 'block'
                document.getElementById('selMaruti').style.display = 'none'
            }
            else if(company == 'Maruti') {
                document.getElementById('sel').style.display = 'none'
                document.getElementById('selAudi').style.display = 'none'
                document.getElementById('selBMW').style.display = 'none'
                document.getElementById('selHonda').style.display = 'none'
                document.getElementById('selHyundai').style.display = 'none'
                document.getElementById('selMaruti').style.display = 'block'
            }
            else {
                document.getElementById('sel').style.display = 'block'
                document.getElementById('selAudi').style.display = 'none'
                document.getElementById('selBMW').style.display = 'none'
                document.getElementById('selHonda').style.display = 'none'
                document.getElementById('selHyundai').style.display = 'none'
                document.getElementById('selMaruti').style.display = 'none'
            }
            // console.log(carList.value);
            // if(carList.va)
        }
    </script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<!-- <script>
$(document).ready(function () {
    $("#company").change(function () {
        var val = $(this).val();
        if (val == "Audi") {
            $("#model").html("<option value='A4'>A4</option><option value='A6'>A6</option>");
        } else if (val == "BMW") {
            $("#model").html("<option value='3 Series'>3 Series</option><option value='5 Series'>5 Series</option>");
        } else if (val == "Honda") {
            $("#model").html("<option value='City'>City</option><option value='BRV'>BRV</option>");
        } else if (val == "Maruti") {
            $("#model").html("<option value='Swift'>Swift</option><option value='Ciaz'>Ciaz</option>");
        } else if (val == "Hyundai") {
            $("#model").html("<option value='i20'>i20</option><option value='Verna'>Verna</option>");
        } else if (val == "0") {
            $("#model").html("<option value=''>--Please select model--</option>");
        }
    });
});
</script> -->
<!-- <script>
    var carsAndModels = {};
    carsAndModels['Audi'] = ['A4', 'A6', 'Q7'];
    carsAndModels['Honda'] = ['City', 'WRV','Amaze'];
    carsAndModels['BMW'] = ['M6', 'X5', 'Z3'];
    carsAndModels['Maruti'] = ['Swift', 'Ciaz', 'Alto', 'Brezza'];
    carsAndModels['Hyundai'] = ['i20', 'Verna', 'Creta'];
    
    function ChangeCarList() {
      var carList = document.getElementById("companySel");
      var modelList = document.getElementById("modelSel");
      var selCar = carList.options[carList.selectedIndex].value;
      while (modelList.options.length) {
        modelList.remove(0);
      }
      var cars = carsAndModels[selCar];
      if (cars) {
        var i;
        for (i = 0; i < cars.length; i++) {
          var car = new Option(cars[i], i);
          document.getElementById("modelSel").options.add(car);
        }
      }
    } 
    </script> -->

    <%- include('./partials/bottom')%>