<%- include('./frontPartials/top')%>
<%- include('./frontPartials/navbar')%>


<!--Section-1-->
    <section class="section-1">
        <div class="jumbotron d-flex align-items-center">
            <div class="gradient"></div>
            <div class="container-fluid content">
                <h1 data-aos="fade-up" data-aos-delay="100">Welcome to ExtraMile.</h1>
                <h2 data-aos="fade-up" data-aos-delay="300">the multipurpose psd wordrpess theme</h2>
                <h4 data-aos="fade-up" data-aos-delay="500">Getup and rise, for the new chapter of your life</h4>
                <p data-aos="fade-up" data-aos-delay="700"><a href="/signin" class="btn btn-success">Get Started</a></p>
            </div>
            <!--container-fluid end-->
        </div>
    </section>
    <!--Section-2-->
    <section class="section-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-12 col-12 box-1">
                    <div class="row box" data-aos="fade-left" data-aos-delay="300">
                        <div class="col-lg-2 col-sm-12">
                            <i class="fa fa-desktop" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <h3><a href="/services">CONVENIENT.</a></h3>
                            <p>
                                Lets stay home & stay safe</p>
                               <p> That's the best thing you can do right now to keep your loved ones safe because staying at home everyday keeps Corona away.</p>

                                <p>Service right at your doorstep.Help you to stay home and save lives.Online payments. Hassle free and safe.Fast delivery. We value your time.</p>
                            <p><a href="/services"><img src="front/images/plus.png" alt="plus"></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-12 box-2">
                    <div class="row box" data-aos="fade-left" data-aos-delay="500">
                        <div class="col-lg-2 col-sm-12">
                            <i class="fa fa-code" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <h3><a href="/services">coding.</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and</p>
                            <p><a href="/services"><img src="front/images/plus.png" alt="plus"></a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-12 col-12 box-3">
                    <div class="row box" data-aos="fade-left" data-aos-delay="700">
                        <div class="col-lg-2 col-sm-12">
                            <i class="fa fa-comments-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-10 col-sm-12">
                            <h3><a href="/services">support.</a></h3>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's printer took a galley of type and</p>
                            <p><a href="/services"><img src="front/images/plus.png" alt="plus"></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-3">
        <div class="container">
            <div class="row m-0">
                <div class="col-lg-5 col-md-12 p-0" data-aos="fade-right" data-aos-delay="300">
                    <h2>What we do <span>And why select us?</span></h2>
                    <ul>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Web Designing </li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Corporate Identity</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Domain Names</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Wordpress Development</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Logo Design</li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i>Photography</li>
                    </ul>
                </div>
                <div class="col-lg-7 col-md-12 p-0" data-aos="fade-left" data-aos-delay="300">
                    <figure>
                        <img class="inner-img" src="/front/images/services-bg2.jpg" alt="services">
                        <img class="out-sideimg" src="/front/images/services-bg.jpg" alt="services">
                    </figure>
                </div>
            </div>
        </div>
    </section>

<%- include('./frontPartials/bottom')%>