<%- include('./frontPartials/top')%>
<%- include('./frontPartials/navbar')%>

<section class="services">
    <div class="container">
       <h2>Our Services</h2>
        <div class="row">
            <div class="col-sm-12 col-12 box-1"  data-aos="fade-up" data-aos-delay="300">
                <div class="row box">
                    <div class="col-sm-1 col-12">
                        <i class="fa fa-desktop" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-11 col-12">
                        <h3>Standard car servicing</h3>
                        
                           <p>  Engine oil, oil filter, air filter, oil levels check & top-up, brake service, express car washing, 15-point car check, coolant top up, engine tuning</p>
<p>If required:
    Brake pad change, spark plug change, fuel filter change, AC servicing, wheel alignment & balancing</p>
                        <h4>price = 1999</h4>
                        
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-12 box-2"  data-aos="fade-up" data-aos-delay="300">
                <div class="row box">
                    <div class="col-sm-1 col-12">
                        <i class="fa fa-code" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-11 col-12">
                        <h3>Car AC</h3>
                        
                        <p>Ac gas level & pressure check up.</p>
                           <p> Ac gas top-up.</p>	
                            <p>Leakage check.</p>	
                            <p>Compressor oil top up.</p>	
                          <p>  Cooling coil cleaning.	</p>
                           <p> AC filter cleaning.</p>	
                            <p>AC vents cleaning.	</p>
                          <p>  AC cooling test.</p>
                          <h4>price = 1299</h4>

                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-12 box-2"  data-aos="fade-up" data-aos-delay="300">
                <div class="row box">
                    <div class="col-sm-1 col-12">
                        <i class="fa fa-cogs" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-11 col-12">
                        <h3>Doorstep Checkup & Minor Repairs</h3>
                        <p> General car check-up by an expert mechanic. We will also ensure the minor repairing will be done with a FREE 15-point monsoon car health report to keep your car in a perfect condition.</p>
                    <h4>price = 499</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-12 box-2"  data-aos="fade-up" data-aos-delay="300">
                <div class="row box">
                    <div class="col-sm-1 col-12">
                        <i class="fa fa-suitcase" aria-hidden="true"></i>
                    </div>
                    <div class="col-sm-11 col-12">
                       <h3>Towing Services</h3>
                       <h5><h4>note:</h4>Average Prices for 10 km towing as below (can change on location & time)</h5>
                       <p><h5>Hook & chain towing  =  rs.999</p></div></h5>
                       <p><h5>Hydraulic wheel lift towing  = rs.1399</p></h5>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('./frontPartials/bottom')%>