<section class="section-7">
    <!-- Footer -->
    <footer class="page-footer font-small stylish-color-dark">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-lg-5 col-sm-12 mx-auto box-1">

                    <!-- Content -->
                    <a href="/"><img src="/front/images/footer-logo.png" alt="footer-logo"></a>
                    <p>
                     Lets stay home & stay safe
                        That's the best thing you can do right now to keep your loved ones safe because staying at home everyday keeps Corona away
                        Service right at your doorstep.Help you to stay home and save lives.Online payments. Hassle free and safe.Fast delivery. We value your time.</p>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-lg-2 col-sm-4 box-2 mx-auto">

                    <!-- Links -->
                    <h5>Site Navigation</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="/">go to home</a>
                        </li>
                        <li>
                            <a href="/about">about us</a>
                        </li>
                        <li>
                            <a href="/services">services</a>
                        </li>
                        <li>
                            <a href="/contact">contact us</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">

                <!-- Grid column -->
                <div class="col-lg-2 col-sm-4 box-3 mx-auto">

                    <!-- Links -->
                    <h5>information</h5>

                    <ul class="list-unstyled">
                        <li>
                            <a href="/signin">user login</a>
                        </li>
                        <li>
                            <a href="/signup">creat new account</a>
                        </li>
                        <li>
                            <a href="/">other information</a>
                        </li>
                    </ul>

                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none">


            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center">
            <div class="gradient"></div>
            <p>© 2021, All Rights reserved. ExtraMile.</p>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->
</section>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
<script src="/front/js/animate.js"></script>
<script src="/front/js/custom.js"></script>
<script>
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
        event.preventDefault();
        $(this).ekkoLightbox();
    });

</script>
</body>

</html>
